body{
    margin: 0;
    font-family: sans-serif;
    background-color: #fff6ef;
    font-family: "Quicksand", sans-serif;
}

h3{
    text-align: center;
    font-size: 30px;
    margin: 0;
    padding-top: 10px;
}

a{
    text-decoration: none;
}

.shop{
    padding: 100px 8%;
    
}

.galeria {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(360px, auto));
    align-items: center;
    gap: 2rem;
    text-align: center;
    padding-top: 2rem;
    

}

.item{
    text-align: center;
    border-radius: 20px;
    box-shadow: 0 14px 28px rgb(0,0,0,0.25), 0 8px 8px rgb(0,0,0,0.22);
    transition: .6s;
    background: #ffffff;
   
    
}  

.item:hover{
    box-shadow: 0 3px 6px rgb(0,0,0,0.16), 0 3px 6px rgb(0,0,0,0.23);
    transform: scale(1.1);
}

.galeria img{
    width: 100%;
    height: auto;
    text-align: center;
    margin: 0 auto;
    display: block;
}

p{
    text-align: center;
    color: #000000;
    padding-top: 0 8px;
}

h6{
    font-size: 15px;
    text-align: right;
    color: #000000;
    margin: 0;
    padding-bottom: 15px;
    padding-right: 15px;
}

h3{
    font-size: 17px;
    text-align: center;
    padding-bottom: 15px;
}

 .galeria button{
    text-align:end;
    font-size: 15px;
    color: #7cb674;
    width: 100%;
    padding: 15px;
    border: 0;
    outline: none;
    cursor: pointer;
    margin-top: 5px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    background-color: rgb(43, 34, 25);
    transition-duration: 0.5s;
}

.compre:hover{
    background-color: #7cb674;
    color: white;
}